In [14]:
import pandas as pd
import numpy as np
import warnings

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import LabelEncoder

warnings.filterwarnings('ignore')

In [15]:
data_tool = pd.read_csv('CarPrice_Assignment.csv')

lab=LabelEncoder()
data['fuelsystem']=lab.fit_transform(data['fuelsystem'])
data['cylindernumber']=lab.fit_transform(data['cylindernumber'])
data['enginetype']=lab.fit_transform(data['enginetype'])
data['enginelocation']=lab.fit_transform(data['enginelocation'])
data['drivewheel']=lab.fit_transform(data['drivewheel'])
data['carbody']=lab.fit_transform(data['carbody'])
data['doornumber']=lab.fit_transform(data['doornumber'])
data['aspiration']=lab.fit_transform(data['aspiration'])
data['fueltype']=lab.fit_transform(data['fueltype'])

features_tool = pd.DataFrame({
    'curbweight': data['curbweight'],
    'horsepower': data['horsepower'],
    'doornumber': data['doornumber'],
    'carbody': data['carbody'],
    'stroke': data['stroke'],
    'peakrpm': data['peakrpm'],
    'fuelsystem': data['fuelsystem']})
log_prices_tool = np.log(data['price'])
target_tool = pd.DataFrame(log_prices_tool, columns = ['price'])

In [16]:
features_tool.head()

   curbweight  horsepower  doornumber  carbody  stroke  peakrpm  fuelsystem
0        2548         111           1        0    2.68     5000           5
1        2548         111           1        0    2.68     5000           5
2        2823         154           1        2    3.47     5000           5
3        2337         102           0        3    3.40     5500           5
4        2824         115           0        3    3.40     5500           5

In [17]:
curbweight_IDX = 0
horsepower_IDX = 1
doornumber_IDX = 2 
carbody_IDX = 3 
stroke_IDX = 4
peakrpm_IDX = 5
fuelsystem_IDX = 6

car_stats = features_tool.mean().values.reshape(1, 7)

In [20]:
regr = LinearRegression().fit(features_tool, target_tool)
fitted_vals = regr.predict(features_tool)

MSE = mean_squared_error(target_tool, fitted_vals)
RMSE = np.sqrt(MSE)

In [25]:
def get_log_estimate(curbweight,
                    horsepower,
                    doornumber,
                    carbody,
                    stroke,
                    peakrpm,
                    fuelsystem,
                    high_confidence=True):
    
    # Configure property
    car_stats[0][curbweight_IDX] = curbweight
    car_stats[0][horsepower_IDX] = horsepower
    car_stats[0][stroke_IDX] = stroke
    car_stats[0][peakrpm_IDX] = peakrpm
    car_stats[0][fuelsystem_IDX] = fuelsystem
    
    # Make prediction
    log_estimate = regr.predict(car_stats)[0][0]
    
    # Calc Range 
    if high_confidence:
        upper_bound = log_estimate + 2*RMSE
        lower_bound = log_estimate - 2*RMSE
        interval = 95
    else:
        upper_bound = log_estimate + RMSE
        lower_bound = log_estimate - RMSE
        interval = 68
    
    return log_estimate, upper_bound, lower_bound, interval

In [26]:
get_log_estimate(2548,200,0,2,2.68,5000,5,True)

(9.726434296401639, 10.097561549714424, 9.355307043088853, 95)

In [46]:
def get_dollar_estimate(curb_weight, 
                        horse_power, 
                        door_number, 
                        car_body,
                       str_oke,
                       peak_rpm,
                       fuel_system,
                       large=True):
    """Estimate the price of a property in Boston.
    
    Keyword arguments:
    rm -- number of rooms in the property
    ptratio -- number of students per teacher in classroom for school in the area
    chas -- True if the property is next to the river, False otherwise
    large_range -- True for 95% prediction interval, False for a 68% prediction interval
    
    """
    
    

    
    log_est, upper, lower, conf,= get_log_estimate(curbweight = curb_weight, 
                        horsepower = horse_power, 
                        doornumber = door_number, 
                        carbody= car_body,
                       stroke = str_oke,
                       peakrpm = peak_rpm,
                       fuelsystem = fuel_system,
                       high_confidence=large)
    #SCALE FACTOR
    dollar_est = np.e**log_est 
    dollar_hi = np.e**upper
    dollar_low = np.e**lower
    
    #ROUND VALUES
    dollar_est = np.around(dollar_est, -3)
    dollar_hi = np.around(dollar_hi, -3)
    dollar_low = np.around(dollar_low, -3)
    
    print(f'Estimated price of car: {dollar_est}$\n Upper Bound: {dollar_hi}$\n Lower Bound: {dollar_low}$')

In [47]:
get_dollar_estimate(2548,200,0,2,2.68,5000,5,True)

Estimated price of car: 17000.0$
 Upper Bound: 24000.0$
 Lower Bound: 12000.0$

In [50]:
unikalne_wartosci = {}
for kolumna in data_tool.columns:
    unikalne_wartosci[kolumna] = data_tool[kolumna].unique()

# Wyświetlanie unikalnych wartości dla każdej kolumny
for kolumna, wartości in unikalne_wartosci.items():
    print(f'Unikalne wartości w kolumnie {kolumna}:')
    print(wartości)
    print()

Unikalne wartości w kolumnie car_ID:
[  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108
 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126
 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144
 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162
 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180
 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198
 199 200 201 202 203 204 205]

Unikalne wartości w kolumnie symboling:
[ 3  1  2  0 -1 -2]

Unikalne wartości w kolumnie CarName:
['alfa-romero giulia' 'alfa-romero stelvio' 'alfa-romero Quadrifoglio'
 'audi 100 ls' 'audi 100ls' 'audi fox' 'audi 5000' 'audi 4000'
 'audi 5000s (diesel)' 'bmw 320i' 'bmw x1' 'bmw x3' 'bmw z4' 'bmw x4'
 'bmw x5' 'chevrolet impala' 'chevrolet monte carlo' 'chevrolet vega 2300'
 'dodge rampage' 'dodge challenger se' 'dodge d200' 'dodge monaco (sw)'
 'dodge colt hardtop' 'dodge colt (sw)' 'dodge coronet custom'
 'dodge dart custom' 'dodge coronet custom (sw)' 'honda civic'
 'honda civic cvcc' 'honda accord cvcc' 'honda accord lx'
 'honda civic 1500 gl' 'honda accord' 'honda civic 1300' 'honda prelude'
 'honda civic (auto)' 'isuzu MU-X' 'isuzu D-Max ' 'isuzu D-Max V-Cross'
 'jaguar xj' 'jaguar xf' 'jaguar xk' 'maxda rx3' 'maxda glc deluxe'
 'mazda rx2 coupe' 'mazda rx-4' 'mazda glc deluxe' 'mazda 626' 'mazda glc'
 'mazda rx-7 gs' 'mazda glc 4' 'mazda glc custom l' 'mazda glc custom'
 'buick electra 225 custom' 'buick century luxus (sw)' 'buick century'
 'buick skyhawk' 'buick opel isuzu deluxe' 'buick skylark'
 'buick century special' 'buick regal sport coupe (turbo)'
 'mercury cougar' 'mitsubishi mirage' 'mitsubishi lancer'
 'mitsubishi outlander' 'mitsubishi g4' 'mitsubishi mirage g4'
 'mitsubishi montero' 'mitsubishi pajero' 'Nissan versa' 'nissan gt-r'
 'nissan rogue' 'nissan latio' 'nissan titan' 'nissan leaf' 'nissan juke'
 'nissan note' 'nissan clipper' 'nissan nv200' 'nissan dayz' 'nissan fuga'
 'nissan otti' 'nissan teana' 'nissan kicks' 'peugeot 504' 'peugeot 304'
 'peugeot 504 (sw)' 'peugeot 604sl' 'peugeot 505s turbo diesel'
 'plymouth fury iii' 'plymouth cricket' 'plymouth satellite custom (sw)'
 'plymouth fury gran sedan' 'plymouth valiant' 'plymouth duster'
 'porsche macan' 'porcshce panamera' 'porsche cayenne' 'porsche boxter'
 'renault 12tl' 'renault 5 gtl' 'saab 99e' 'saab 99le' 'saab 99gle'
 'subaru' 'subaru dl' 'subaru brz' 'subaru baja' 'subaru r1' 'subaru r2'
 'subaru trezia' 'subaru tribeca' 'toyota corona mark ii' 'toyota corona'
 'toyota corolla 1200' 'toyota corona hardtop' 'toyota corolla 1600 (sw)'
 'toyota carina' 'toyota mark ii' 'toyota corolla'
 'toyota corolla liftback' 'toyota celica gt liftback'
 'toyota corolla tercel' 'toyota corona liftback' 'toyota starlet'
 'toyota tercel' 'toyota cressida' 'toyota celica gt' 'toyouta tercel'
 'vokswagen rabbit' 'volkswagen 1131 deluxe sedan' 'volkswagen model 111'
 'volkswagen type 3' 'volkswagen 411 (sw)' 'volkswagen super beetle'
 'volkswagen dasher' 'vw dasher' 'vw rabbit' 'volkswagen rabbit'
 'volkswagen rabbit custom' 'volvo 145e (sw)' 'volvo 144ea' 'volvo 244dl'
 'volvo 245' 'volvo 264gl' 'volvo diesel' 'volvo 246']

Unikalne wartości w kolumnie fueltype:
['gas' 'diesel']

Unikalne wartości w kolumnie aspiration:
['std' 'turbo']

Unikalne wartości w kolumnie doornumber:
['two' 'four']

Unikalne wartości w kolumnie carbody:
['convertible' 'hatchback' 'sedan' 'wagon' 'hardtop']

Unikalne wartości w kolumnie drivewheel:
['rwd' 'fwd' '4wd']

Unikalne wartości w kolumnie enginelocation:
['front' 'rear']

Unikalne wartości w kolumnie wheelbase:
[ 88.6  94.5  99.8  99.4 105.8  99.5 101.2 103.5 110.   88.4  93.7 103.3
  95.9  86.6  96.5  94.3  96.  113.  102.   93.1  95.3  98.8 104.9 106.7
 115.6  96.6 120.9 112.  102.7  93.   96.3  95.1  97.2 100.4  91.3  99.2
 107.9 114.2 108.   89.5  98.4  96.1  99.1  93.3  97.   96.9  95.7 102.4
 102.9 104.5  97.3 104.3 109.1]

Unikalne wartości w kolumnie carlength:
[168.8 171.2 176.6 177.3 192.7 178.2 176.8 189.  193.8 197.  141.1 155.9
 158.8 157.3 174.6 173.2 144.6 150.  163.4 157.1 167.5 175.4 169.1 170.7
 172.6 199.6 191.7 159.1 166.8 169.  177.8 175.  190.9 187.5 202.6 180.3
 208.1 199.2 178.4 173.  172.4 165.3 170.2 165.6 162.4 173.4 181.7 184.6
 178.5 186.7 198.9 167.3 168.9 175.7 181.5 186.6 156.9 157.9 172.  173.5
 173.6 158.7 169.7 166.3 168.7 176.2 175.6 183.5 187.8 171.7 159.3 165.7
 180.2 183.1 188.8]

Unikalne wartości w kolumnie carwidth:
[64.1 65.5 66.2 66.4 66.3 71.4 67.9 64.8 66.9 70.9 60.3 63.6 63.8 64.6
 63.9 64.  65.2 62.5 66.  61.8 69.6 70.6 64.2 65.7 66.5 66.1 70.3 71.7
 70.5 72.  68.  64.4 65.4 68.4 68.3 65.  72.3 66.6 63.4 65.6 67.7 67.2
 68.9 68.8]

Unikalne wartości w kolumnie carheight:
[48.8 52.4 54.3 53.1 55.7 55.9 52.  53.7 56.3 53.2 50.8 50.6 59.8 50.2
 52.6 54.5 58.3 53.3 54.1 51.  53.5 51.4 52.8 47.8 49.6 55.5 54.4 56.5
 58.7 54.9 56.7 55.4 54.8 49.4 51.6 54.7 55.1 56.1 49.7 56.  50.5 55.2
 52.5 53.  59.1 53.9 55.6 56.2 57.5]

Unikalne wartości w kolumnie curbweight:
[2548 2823 2337 2824 2507 2844 2954 3086 3053 2395 2710 2765 3055 3230
 3380 3505 1488 1874 1909 1876 2128 1967 1989 2191 2535 2811 1713 1819
 1837 1940 1956 2010 2024 2236 2289 2304 2372 2465 2293 2734 4066 3950
 1890 1900 1905 1945 1950 2380 2385 2500 2410 2443 2425 2670 2700 3515
 3750 3495 3770 3740 3685 3900 3715 2910 1918 1944 2004 2145 2370 2328
 2833 2921 2926 2365 2405 2403 1889 2017 1938 1951 2028 1971 2037 2008
 2324 2302 3095 3296 3060 3071 3139 3020 3197 3430 3075 3252 3285 3485
 3130 2818 2778 2756 2800 3366 2579 2460 2658 2695 2707 2758 2808 2847
 2050 2120 2240 2190 2340 2510 2290 2455 2420 2650 1985 2040 2015 2280
 3110 2081 2109 2275 2094 2122 2140 2169 2204 2265 2300 2540 2536 2551
 2679 2714 2975 2326 2480 2414 2458 2976 3016 3131 3151 2261 2209 2264
 2212 2319 2254 2221 2661 2563 2912 3034 2935 3042 3045 3157 2952 3049
 3012 3217 3062]

Unikalne wartości w kolumnie enginetype:
['dohc' 'ohcv' 'ohc' 'l' 'rotor' 'ohcf' 'dohcv']

Unikalne wartości w kolumnie cylindernumber:
['four' 'six' 'five' 'three' 'twelve' 'two' 'eight']

Unikalne wartości w kolumnie enginesize:
[130 152 109 136 131 108 164 209  61  90  98 122 156  92  79 110 111 119
 258 326  91  70  80 140 134 183 234 308 304  97 103 120 181 151 194 203
 132 121 146 171 161 141 173 145]

Unikalne wartości w kolumnie fuelsystem:
['mpfi' '2bbl' 'mfi' '1bbl' 'spfi' '4bbl' 'idi' 'spdi']

Unikalne wartości w kolumnie boreratio:
[3.47 2.68 3.19 3.13 3.5  3.31 3.62 2.91 3.03 2.97 3.34 3.6  2.92 3.15
 3.43 3.63 3.54 3.08 3.33 3.39 3.76 3.58 3.46 3.8  3.78 3.17 3.35 3.59
 2.99 3.7  3.61 3.94 3.74 2.54 3.05 3.27 3.24 3.01]

Unikalne wartości w kolumnie stroke:
[2.68  3.47  3.4   2.8   3.19  3.39  3.03  3.11  3.23  3.46  3.9   3.41
 3.07  3.58  4.17  2.76  3.15  3.255 3.16  3.64  3.1   3.35  3.12  3.86
 3.29  3.27  3.52  2.19  3.21  2.9   2.07  2.36  2.64  3.08  3.5   3.54
 2.87 ]

Unikalne wartości w kolumnie compressionratio:
[ 9.   10.    8.    8.5   8.3   7.    8.8   9.5   9.6   9.41  9.4   7.6
  9.2  10.1   9.1   8.1  11.5   8.6  22.7  22.   21.5   7.5  21.9   7.8
  8.4  21.    8.7   9.31  9.3   7.7  22.5  23.  ]

Unikalne wartości w kolumnie horsepower:
[111 154 102 115 110 140 160 101 121 182  48  70  68  88 145  58  76  60
  86 100  78  90 176 262 135  84  64 120  72 123 155 184 175 116  69  55
  97 152 200  95 142 143 207 288  73  82  94  62  56 112  92 161 156  52
  85 114 162 134 106]

Unikalne wartości w kolumnie peakrpm:
[5000 5500 5800 4250 5400 5100 4800 6000 4750 4650 4200 4350 4500 5200
 4150 5600 5900 5750 5250 4900 4400 6600 5300]

Unikalne wartości w kolumnie citympg:
[21 19 24 18 17 16 23 20 15 47 38 37 31 49 30 27 25 13 26 36 22 14 45 28
 32 35 34 29 33]

Unikalne wartości w kolumnie highwaympg:
[27 26 30 22 25 20 29 28 53 43 41 38 24 54 42 34 33 31 19 17 23 32 39 18
 16 37 50 36 47 46]

Unikalne wartości w kolumnie price:
[13495.    16500.    13950.    17450.    15250.    17710.    18920.
 23875.    17859.167 16430.    16925.    20970.    21105.    24565.
 30760.    41315.    36880.     5151.     6295.     6575.     5572.
  6377.     7957.     6229.     6692.     7609.     8558.     8921.
 12964.     6479.     6855.     5399.     6529.     7129.     7295.
  7895.     9095.     8845.    10295.    12945.    10345.     6785.
  8916.5   11048.    32250.    35550.    36000.     5195.     6095.
  6795.     6695.     7395.    10945.    11845.    13645.    15645.
  8495.    10595.    10245.    10795.    11245.    18280.    18344.
 25552.    28248.    28176.    31600.    34184.    35056.    40960.
 45400.    16503.     5389.     6189.     6669.     7689.     9959.
  8499.    12629.    14869.    14489.     6989.     8189.     9279.
  5499.     7099.     6649.     6849.     7349.     7299.     7799.
  7499.     7999.     8249.     8949.     9549.    13499.    14399.
 17199.    19699.    18399.    11900.    13200.    12440.    13860.
 15580.    16900.    16695.    17075.    16630.    17950.    18150.
 12764.    22018.    32528.    34028.    37028.    31400.5    9295.
  9895.    11850.    12170.    15040.    15510.    18620.     5118.
  7053.     7603.     7126.     7775.     9960.     9233.    11259.
  7463.    10198.     8013.    11694.     5348.     6338.     6488.
  6918.     7898.     8778.     6938.     7198.     7788.     7738.
  8358.     9258.     8058.     8238.     9298.     9538.     8449.
  9639.     9989.    11199.    11549.    17669.     8948.    10698.
  9988.    10898.    11248.    16558.    15998.    15690.    15750.
  7975.     7995.     8195.     9495.     9995.    11595.     9980.
 13295.    13845.    12290.    12940.    13415.    15985.    16515.
 18420.    18950.    16845.    19045.    21485.    22470.    22625.   ]